.fomr-container
{
    background-color: #fff !important;
}
.container-wrapper {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 140px;
    margin-top: 240px;
}


    .form-fields-container {
        align-items: center;
        background-color: #f4f4f4;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10% 7%;
    }
    .form-fields-container p {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
    }
    .container-wrapper p {
        margin-bottom: 40px;
    }
    .form-fields-container form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .fullbody
    {
        width: 100%;
        margin-bottom: 20px;
        
    }
    .form-fields-container input, .form-fields-container textarea {
        background-color: #fff;
        border: none;
        border-radius: 10px;
        color: #000;
        font-family: SwFont!important;
    }
    .form-fields-container input {
        font-size: .8rem;
        padding: 0 5%;
    }
    input {
        
        height: 38px;
        width: 100%;
    }
    .form-fields-container textarea {
        font-size: 1rem;
        height: 150px;
        margin-bottom: 30px;
        max-height: 300px;
        max-width: 100%;
        min-width: 100%;
        padding: 3% 5%;
        width: 100%;
    }
    
element.style {
    margin: 0px;
}
.form-fields-container textarea {
    font-size: 1rem;
    height: 150px;
    margin-bottom: 30px;
    max-height: 300px;
    max-width: 100%;
    min-width: 100%;
    padding: 3% 5%;
    width: 100%;
}
.form-fields-container input, .form-fields-container textarea {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #000;
    font-family: SwFont!important;
}
#question
{
    margin: 0px;
    width: 621px;
    height: 125px;
}
    .form-fields-container .submitBtn {
        background-color: #016cb2;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        margin: 0 auto;
        padding: 10px 35px;
        width: unset;
    }
    button, input, textarea {
        background: none;
        border: none;
        font-family: var(--main-font);
        outline: none;
    }




































    @media (min-width: 1024px){
p {
    font-size: 20px;
    line-height: 30px;
}
    }

    @media (min-width: 1024px){
input {
    font-size: 28px;
    height: 58px;
    margin-bottom: 30px;
}
    }